<!-- About Section -->
<section id="about" class="about" style="background-color:#4D642D !important;">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>

            <p>This year we honour the <u>"Education"</u> theme.<br/>
Python is getting an important role in education, from initiation to programming in code dojos, computer science in secondary education, engineering in college, and skill updates of professionals.
Now that Ireland is introducing a <u>leaving certificate</u> sitting exam in computer science, we'll hopefully soon see the digital natives come in our community, and we should be ready to welcome them.
<br/>We'll also run a number <u>beginners friendly workshops</u> and a career reboot discussion to help delegates drive a career move toward the IT world, where python is now almost omnipresent.
<br/>
Seasoned developers will also find advanced and experts talks about the latests of Python 3.7, techniques for machine learning and a great selection of fantastic talks.
So join us to learn, to teach, to share and enjoy a great week end.</p>

            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-{{ colWidth }} col-xs-6">
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ about.title }}</h5>
                        <img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
