<!-- Prizes Section -->
<section id="quiz" class="prizes">

    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>Entertainment - PyConIE Quiz!</h3>
            <div class="col-md-12 animated hiding" data-animation="fadeInLeft" data-delay="500">
                <h4>Saturday Night from 7PM.</h4>
                <p>8 Rounds- Tech and General Knowledge</p>
                <p>Free drinks!</p>
                <p>Free pizzas!</p>
                <p>Lots of fun!</p>
                <!--              <a href="https://docs.google.com/forms/d/1eUczfl8cmyE94H2pqLnX3MpKNzmf_Tj2E7iBHG6RavM"
                class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Sign Up Now!</a> -->

            </div>
        </div>
    </div>
</section>
<!-- End Prizes Section -->
