<!-- Begin Tickets 2 Section -->
<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
<script src='https://js.tito.io/v1' async></script>

<section id="tickets" class="tickets-2">
	<h3>Tickets</h3>
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
<!-- Place this where you want the widget to appear -->
<tito-widget event="/python-ireland/pycon-ireland-2019"></tito-widget>

		</div>
	</div>
</section>
<!-- End Tickets 2 Section -->