<!-- Begin Tickets 2 Section -->
<!-- place this in your head tag -->
<script src='https://js.tito.io/v1' async></script>


<section id="tickets" class="tickets-2">
	        <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
        <h4> Advanced Python Workshop </h4>
        <p>

There is also a one-day Advanced Python workshop run by Mike Müller of Python
Academy. It takes place on Novemver 9th.

This is a great opportunity to lift your Python skills to an advanced level.
Full details <a href="http://www.python-academy.com/courses/python_advanced_pyconie.html">On this page</a>
</p>
        </div>	

	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
<!-- Place this where you want the widget to appear -->
<tito-widget event="/python-ireland/pycon-ireland-2018"></tito-widget>

		</div>
	</div>


	
	        <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
        <h3> Submit a talk </h3>
        <p>
Proposals on any subject are welcomed, at any level of technical expertise. 
The deadline for submissions is midnight 9th September 2018.
We believe that the Irish Tech Community would be very well placed to make an engaging contribution to what promises to be our most exciting conference yet.
The conference, fully volunteer organized is only possible with the help of people from the community stepping forward to share their time and knowledge.

Please fill <a href="https://pyconie.herokuapp.com/conferences/pycon-ireland-2018/call-for-proposals/">this form</a>
</p>
        </div>
</section>
<!-- End Tickets 2 Section -->
